.csstransitions.csstransforms .deck-container > .slide.easyIn {
    -webkit-transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
    -ms-transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
    transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
}

.leftColl {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 10px ! important;
    margin-left: -48px !important;
    top: 0;
    bottom: 0;
}

.rightColl {
    position: absolute !important;
    width: 48%;
    height: 100%;
    padding: 10px ! important;
    top: 0;
    bottom: 0;
    right: 0;
}

.rightColl .preview {
    height: 100%;
}

.rightColl iframe {
    width: 100%;
    height: 100%;
}

.grid-3 {
    list-style: none;
    width: 100%;
}

    .grid-3 li {
        float: left;
    }

.verticalList {
    list-style: none;
    color: #D1D2D4;
}

    .verticalList .item {
        display: inline-block;
        margin: 0 20px 0 0;
    }

        .verticalList .item + .item:before {
            content: "- ";
            margin: 0 20px 0 0;
        }

        .verticalList .item.deck-before, .verticalList .item.deck-previous, .verticalList .item.deck-current {
            color: black;
        }

.replace {
    list-style: none;   
}
    .replace .deck-before, .replace .deck-previous { 
        display: none;
    }

    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .replace > .slide {
        -webkit-transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
        -moz-transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
        -ms-transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
        transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
    }