.deck-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 1.75em;
  color: black;
  background: white;
}

.deck-container .slide {
  background: white;
}

.slide h1, .slide h2, .slide h3, .slide h4 {
    font-family: "bariol_bold";
    color: #3398CC
}

.slide h3 {
    text-transform: capitalize;
}

.deck-container .slide.invert {
  background: #3398CC;
}

.slide.invert h1, .slide.invert h2, .slide.invert h3, .slide.invert h4 {
    font-family: "bariol_bold";
    color: white;
}